{% load static %}
{% comment %} #063D5C {% endcomment %}
<header>
    <nav class="navbar navbar-expand-lg text-uppercase shadow-lg" id="mainNav" style="background-color: #063D5C;">
        <div class="container">
            <a class="navbar-brand" href="{% url 'menu' %}"><img src="{% static 'img/logo.jfif' %}" alt="Logo"></a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'menu' %}">Menu</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'planes' %}">Planes</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'nosotros' %}">Nosotros</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'contacto' %}">Contacto</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'sesion' %}">Iniciar sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>